<div class="flex flex-col items-center justify-center p-4">
  <a
    href="https://t.me/systemadminbd"
    target="_blank"
    rel="noopener noreferrer"
  >
    <img
      src="/gifs/sys.gif"
      alt="gif"
      class="w-full max-w-2xl md:max-w-3xl lg:max-w-4xl xl:max-w-5xl"
    />
  </a>

  <p class="en mt-4 text-center text-sm text-gray-400">
    Interested in advertising with us? <br /> Contact us at <a
      href="mailto:frostfoe@gmail.com"
      class="text-blue-500 hover:underline">frostfoe@gmail.com</a
    >.
  </p>
</div>
